<div class="modal" data-modal="4">
  <button
    class="products__modal-button js-modal-close"
    id="modal-ingredients-mid-close"
    type="button"
  >
    <svg class="products__modal-icon" width="16" height="16">
      <use href="./images/sprite.svg#modal-close"></use>
    </svg>
  </button>
  <p class="products__modal-title">ice coffee</p>

  <img
    class="products__modal-img products__modal-img--border"
    src="./images/modals/buy-now/buy-modal-2-1x.png"
    alt=""
  />

  <ul class="ice-cream__list">
    <li class="ice-cream__item">
      <p class="ice-cream__numbers">320</p>
      <p class="ice-cream__info">kcal</p>
    </li>

    <li class="ice-cream__item">
      <p class="ice-cream__numbers">4g</p>
      <p class="ice-cream__info">Prote...</p>
    </li>

    <li class="ice-cream__item">
      <p class="ice-cream__numbers">8,2g</p>
      <p class="ice-cream__info">Fats</p>
    </li>

    <li class="ice-cream__item">
      <p class="ice-cream__numbers">40,4g</p>
      <p class="ice-cream__info">Carbs</p>
    </li>
  </ul>

  <h3 class="ingredients">Ingredients</h3>
  <ul class="ingredients__list">
    <li class="ingredients__item">
      <span class="ingredients__name">Milk</span>
      <span class="ingredients__name">100ml</span>
    </li>
    <li class="ingredients__item">
      <span class="ingredients__name">Belgian chocolate</span>
      <span class="ingredients__name">20g</span>
    </li>
    <li class="ingredients__item">
      <span class="ingredients__name">Cream</span>
      <span class="ingredients__name">150 ml</span>
    </li>
    <li class="ingredients__item">
      <span class="ingredients__name">Cocoa powder</span>
      <span class="ingredients__name">30g</span>
    </li>
    <li class="ingredients__item">
      <span class="ingredients__name">Sugar</span>
      <span class="ingredients__name">40g</span>
    </li>
    <li class="ingredients__item">
      <span class="ingredients__name">Vanilla sugar</span>
      <span class="ingredients__name">10g</span>
    </li>
  </ul>

  <form class="products__form" action="POST">
    <input class="input__name" type="text" name="name" placeholder="Name" />
    <input class="input__tel" type="number" name="tel" placeholder="Phone" />
    <textarea
      class="input__comment"
      name="textarea"
      id=""
      placeholder="Comment"
    ></textarea>
    <button class="input__submit" type="submit">Submit</button>
  </form>
</div>
