<div class="modal" data-modal="7">
  <button
    class="locations__modal-button js-modal-close"
    id="modal-location-close"
    type="button"
  >
    <svg class="locations__modal-icon" width="16" height="16">
      <use href="./images/sprite.svg#modal-close"></use>
    </svg>
  </button>

  <p class="locations__modal-title">Our Locations</p>

  <iframe
    class="map"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3312.237903703297!2d-118.4103286!3d33.8835263!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2b3eca6743829%3A0x98448969b9b4373d!2s1003%20Manhattan%20Ave%2C%20Manhattan%20Beach%2C%20CA%2090266%2C%20%D0%A1%D0%A8%D0%90!5e0!3m2!1sru!2sua!4v1674312132423!5m2!1sru!2sua"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>

  <a
    href="https://www.google.com/maps/place/1003+Manhattan+Ave,+Manhattan+Beach,+CA+90266,+%D0%A1%D0%A8%D0%90/@33.883526,-118.410329,16z/data=!4m5!3m4!1s0x80c2b3eca6743829:0x98448969b9b4373d!8m2!3d33.8835263!4d-118.4103286?hl=ru"
    class="locations__modal-btn"
    target="_blank"
    >Open map
  </a>
</div>
