<div class="modal" data-modal="2">
  <button
    class="header__modal-button js-modal-close"
    id="modal-buy-now-close-mobile"
    type="button"
  >
    <svg class="header__modal-icon" width="16" height="16">
      <use href="./images/sprite.svg#modal-close"></use>
    </svg>
  </button>
  <p class="header__modal-title">Buy now</p>
  <form class="buy">
    <ul class="buy__list-modal">
      <li class="buy__item-modal">
        <input class="buy__input" id="input-green--mobile" type="checkbox" />
        <label class="buy__label buy__label--green" for="input-green--mobile">
          <img
            class="buy__input-img buy__input-green"
            src="./images/modals/buy-now/buy-modal-1-1x.png"
            alt=""
          />
          <span class="buy__modul-text">ice cream</span>
        </label>
      </li>

      <li class="buy__item-modal">
        <input class="buy__input" id="input-yellow--mobile" type="checkbox" />
        <label class="buy__label buy__label--yellow" for="input-yellow--mobile">
          <img
            class="buy__input-img buy__input-yellow"
            src="./images/modals/buy-now/buy-modal-2-1x.png"
            alt=""
          />
          <span class="buy__modul-text">ice coffee</span>
        </label>
      </li>

      <li class="buy__item-modal">
        <input class="buy__input" id="input-orange--mobile" type="checkbox" />
        <label class="buy__label buy__label--orange" for="input-orange--mobile">
          <img
            class="buy__input-img product__input-orange"
            src="./images/modals/buy-now/buy-modal-3-1x.png"
            alt=""
          />
          <span class="buy__modul-text">milkshake</span>
        </label>
      </li>
    </ul>
    <input class="input__name" type="text" name="name" placeholder="Name" />
    <input class="input__tel" type="number" name="tel" placeholder="Phone" />
    <textarea
      class="input__comment"
      name="textarea"
      id=""
      placeholder="Comment"
    ></textarea>
    <button class="input__submit" type="submit">Submit</button>
  </form>
</div>
