<div class="modal" data-modal="6">
  <button
    class="read-more__modal-button js-modal-close"
    id="modal-read-more-close"
    type="button"
  >
    <svg class="read-more__modal-icon" width="16" height="16">
      <use href="./images/sprite.svg#modal-close"></use>
    </svg>
  </button>

  <p class="read-more__modal-title">How it’s made?</p>

  <video class="video" controls>
    <source src="./videos/Inside-the-factory.mp4" type="video/mp4" />
  </video>

  <p class="read-more__text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
    adipiscing elit, sed do eiusmod tempor incididunt ut labore et
  </p>
</div>
