<!-- GALARY -->
<section class="galary">
  <div class="container">
    <!-- GALARY LIST -->
    <div class="galary__wrapper">
      <ul class="galary__list">
        <li class="galary__item">
          <picture>
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/galary/mobile/galary-item-mb1_1x.jpg 1x,
                ./images/galary/mobile/galary-item-mb1_2x.jpg 2x
              "
            />

            <source
              media="(min-width: 786px)"
              srcset="
                ./images/galary/tablet/galary-item-tb1_1x.jpg 1x,
                ./images/galary/tablet/galary-item-tb1_2x.jpg 2x
              "
            />

            <source
              media="(min-width: 1200px)"
              srcset="
                ./images/galary/desctop/galary-item-dt1_1x.jpg 1x,
                ./images/galary/desctop/galary-item-dt1_2x.jpg 2x
              "
            />

            <img
              class="galary__img"
              src="./images/galary/mobile/galary-item-mb1_1x.jpg"
              alt=""
            />
          </picture>
        </li>

        <li class="galary__item">
          <picture>
            <source
              media="(max-width:767px)"
              srcset="
                ./images/galary/mobile/galary-item-mb2_1x.png 1x,
                ./images/galary/mobile/galary-item-mb2_2x.png 2x
              "
            />
            <source
              media="(min-width:768px)"
              srcset="
                ./images/galary/tablet/galary-item-tb2_1x.png 1x,
                ./images/galary/tablet/galary-item-tb2_2x.png 2x
              "
            />
            <source
              media="(min-width:1200px)"
              srcset="
                ./images/galary/desctop/galary-item-dt2_1x.png 1x,
                ./images/galary/desctop/galary-item-dt2_2x.png 2x
              "
            />

            <img
              class="galary__img"
              src="./images/galary/mobile/galary-item-mb2_1x.png"
              alt=""
            />
          </picture>
        </li>

        <li class="galary__item">
          <picture>
            <source
              media="(max-width:767px)"
              srcset="
                ./images/galary/mobile/galary-item-mb3_1x.png 1x,
                ./images/galary/mobile/galary-item-mb3_2x.png 2x
              "
            />
            <source
              media="(min-width:768px)"
              srcset="
                ./images/galary/tablet/galary-item-tb3_1x.png 1x,
                ./images/galary/tablet/galary-item-tb3_2x.png 2x
              "
            />
            <source
              media="(min-width:1200px)"
              srcset="
                ./images/galary/desctop/galary-item-dt3_1x.png 1x,
                ./images/galary/desctop/galary-item-dt3_2x.png 2x
              "
            />
            <img
              class="galary__img"
              src="./images/galary/mobile/galary-item-mb3_1x.png"
              alt=""
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
