<section class="locations" id="contacts">
  <div class="container">
    <h2 class="visually-hidden">Our locations</h2>
    <ul class="locations__list">
      <li class="locations__item">
        <h3 class="locations__place">Cafe</h3>
        <p class="locations__city">Chicago</p>
        <a
          class="location__place"
          href="https://www.google.com.ua/maps/place/1003+Manhattan+Ave,+Manhattan+Beach,+CA+90266,+%D0%A1%D0%A8%D0%90/@33.8835307,-118.4125173,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2b3eca6743829:0x98448969b9b4373d!8m2!3d33.8835263!4d-118.4103286?hl=ru"
          target="_blank"
          rel="noopener nofollow noreferrer"
          >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
        >
        <p class="locations__days locations__days--decor">Monday - Friday</p>
        <p class="locations__time locations__time--indent">
          06:00 AM - 10:00 PM
        </p>
        <p class="locations__days">Saturday - Sunday</p>
        <p class="locations__time locations__time--mb">08:00 AM - 16:00 PM</p>

        <a class="locations__number" href="tel:+610383766284 "
          >+61(0) 383 766 284
        </a>
        <a class="locations__email" href="mailto:noreply@envato.com">
          noreply@envato.com
        </a>
      </li>

      <li class="locations__item">
        <h3 class="locations__place">FOODTRUCK</h3>
        <p class="locations__city">Los Angeles</p>
        <a
          class="location__place"
          href="https://www.google.com.ua/maps/place/1003+Manhattan+Ave,+Manhattan+Beach,+CA+90266,+%D0%A1%D0%A8%D0%90/@33.8835307,-118.4125173,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2b3eca6743829:0x98448969b9b4373d!8m2!3d33.8835263!4d-118.4103286?hl=ru"
          target="_blank"
          rel="noopener nofollow noreferrer"
          >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
        >
        <p class="locations__days locations__days--decor">Monday - Friday</p>
        <p class="locations__time locations__time--indent">
          06:00 AM - 10:00 PM
        </p>
        <p class="locations__days">Saturday - Sunday</p>
        <p class="locations__time locations__time--mb">08:00 AM - 16:00 PM</p>

        <a class="locations__number" href="tel:+610383766284 "
          >+61(0) 383 766 284
        </a>
        <a class="locations__email" href="mailto:noreply@envato.com">
          noreply@envato.com
        </a>
      </li>

      <li class="locations__item">
        <h3 class="locations__place">Cafe</h3>
        <p class="locations__city">New York</p>
        <a
          class="location__place"
          href="https://www.google.com.ua/maps/place/726+Sterling+Pl,+Brooklyn,+NY+11216,+%D0%A1%D0%A8%D0%90/@40.6726978,-73.9569227,17z/data=!3m1!4b1!4m5!3m4!1s0x89c25b9e1735b38f:0xb5fe454b88e9c2c0!8m2!3d40.6726938!4d-73.954734?hl=ru"
          target="_blank"
          rel="noopener nofollow noreferrer"
          >726 Sterling Pl, Brooklyn, NY 1122222222, USA</a
        >
        <p class="locations__days locations__days--decor">Monday - Friday</p>
        <p class="locations__time locations__time--indent">
          06:00 AM - 10:00 PM
        </p>
        <p class="locations__days">Saturday - Sunday</p>
        <p class="locations__time locations__time--mb">08:00 AM - 16:00 PM</p>

        <a class="locations__number" href="tel:+610383766284 "
          >+61(0) 383 766 284
        </a>
        <a class="locations__email" href="mailto:noreply@envato.com">
          noreply@envato.com
        </a>
      </li>
    </ul>

    <ul class="locations-buttons__list">
      <li class="locations-buttons__item">
        <button
          class="locations-buttons__main-button js-open-modal"
          id="modal-location-open"
          data-modal="7"
          type="button"
        >
          Our Locations
        </button>
      </li>
      <li class="locations-buttons__item">
        <button
          class="locations-buttons__secondary-button js-open-modal"
          id="modal-franchise-open"
          data-modal="8"
          type="button"
        >
          Franchise
        </button>
      </li>
    </ul>
  </div>
</section>
