<section class="passion">
  <div class="container passion__container">
    <div class="passion__wrap-title">
      <p class="passion__subtitle">homemade ice cream made</p>
      <h2 class="passion__title">with passion</h2>
    </div>
    <div class="social">
      <ul class="social__list">
        <li class="social__item">
          <a class="social__link" href="https://github.com/">
            <svg class="social__icon" width="32" height="32">
              <use href="./images/sprite.svg#github"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="https://telegram.org/">
            <svg class="social__icon" width="32" height="32">
              <use href="./images/sprite.svg#telegram"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="https://www.facebook.com/">
            <svg class="social__icon" width="32" height="32">
              <use href="./images/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="social__text">
        Feel free to contact
        <a class="social__tel" href="tel:+610383766284">+61 (0) 383 766 284</a>
      </p>
    </div>
  </div>
</section>
