<section class="products" id="our-products">
  <div class="container">
    <p class="product__sub-title">100% natural</p>
    <h2 class="products__title products__title--indent">products</h2>
    <ul class="product__list">
      <a
        class="product__link js-open-modal"
        href=""
        id="modal-ingredients-top-open"
        data-modal="3"
      >
        <li class="product__item product__item--green">
          <picture>
            <source
              srcset="
                ./images/products/product1_1x.png 1x,
                ./images/products/product1_2x.png 2x,
                ./images/products/product1_3x.png 3x
              "
            />
            <img
              class="product__img product__img--green"
              src="./images/products/product1_1x.png"
              alt="Scoop ice cream cone"
            />
          </picture>

          <h3 class="product__title">ice cream</h3>
          <p class="product__text product__text--indent-gr">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
          <button class="product__button" type="button">
            <svg class="product__svg" width="40" height="18">
              <use href="./images/sprite.svg#product_arrow"></use>
            </svg>
          </button></li
      ></a>

      <a
        class="product__link js-open-modal"
        id="modal-ingredients-mid-open"
        data-modal="4"
        href=""
      >
        <li class="product__item product__item--yellow">
          <picture>
            <source
              srcset="
                ./images/products/product2_1x.png 1x,
                ./images/products/product2_2x.png 2x,
                ./images/products/product2_3x.png 3x
              "
            />
            <img
              class="product__img product__img--yellow"
              src="./images/products/product2_1x.png"
              alt="Scoop ice cream cone"
            />
          </picture>

          <h3 class="product__title">ice coffee</h3>
          <p class="product__text product__text--indent-yellow">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
          <button class="product__button" type="button">
            <svg class="product__svg" width="40" height="18">
              <use href="./images/sprite.svg#product_arrow"></use>
            </svg>
          </button></li
      ></a>

      <a
        class="product__link js-open-modal"
        id="modal-ingredients-bot-open"
        data-modal="5"
        href=""
      >
        <li class="product__item product__item--orange">
          <picture>
            <source
              srcset="
                ./images/products/product3_1x.png 1x,
                ./images/products/product3_2x.png 2x,
                ./images/products/product3_3x.png 3x
              "
            />
            <img
              class="product__img product__img--orange"
              src="./images/products/product3_1x.png"
              alt="Scoop ice cream cone"
            />
          </picture>
          <h3 class="product__title">milkshakes</h3>
          <p class="product__text product__text--indent-orange">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
          <button class="product__button" type="button">
            <svg class="product__svg" width="40" height="18">
              <use href="./images/sprite.svg#product_arrow"></use>
            </svg>
          </button></li
      ></a>
    </ul>
  </div>
</section>
