<section class="reviews">
  <div class="container">
    <div class="swiper">
      <!-- Additional required wrapper -->
      <ul class="swiper-wrapper">
        <!-- Slides -->
        <li class="swiper-slide">
          <img
            class="swiper__user"
            src="./images/reviews/emily_1x.png"
            alt="User, hwo wrote a comment"
          />
          <p class="swiper__comment">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving!
          </p>
          <p class="swiper__place">Emily, Los Angeles</p>
        </li>
        <li class="swiper-slide">
          <img
            class="swiper__user"
            src="./images/reviews/sam_1x.png"
            alt="User, hwo wrote a comment"
          />
          <p class="swiper__comment">
            I love eating popsicles on a hot day. Yours is always delicious. I
            recommend your cafe to everyone I know.
          </p>
          <p class="swiper__place">Sam, Los Angeles</p>
        </li>
        <li class="swiper-slide">
          <img
            class="swiper__user"
            src="./images/reviews/diana_1x.png"
            alt="User, hwo wrote a comment"
          />
          <p class="swiper__comment">
            Ice cream is my passion! I love your chocolate hazelnut ice cream!
            And I really like the excellent service - always served politely and
            quickly!
          </p>
          <p class="swiper__place">Diana, Chicago</p>
        </li>
        <li class="swiper-slide">
          <img
            class="swiper__user"
            src="./images/reviews/brian_1x.png"
            alt="User, hwo wrote a comment"
          />
          <p class="swiper__comment">
            Every day we come to you with friends after classes in college. We
            love your ice cream and casual atmosphere!
          </p>
          <p class="swiper__place">Bryan, New-York</p>
        </li>
      </ul>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
