.products {
    @include section(60px);
    background-image: url(../images/products/bg-ice_cream.png);
}
.product__sub-title {
    @include sub__title(18px, 1.22, $secondary-color);
}
.products__title {
    @include title(30px, 1.26, $secondary-color);

    &--indent {
        margin-bottom: 150px;
    }
}

.product__list {
    @extend %list;

    @media screen and(min-width:768px) {
        display: flex;
        gap: 16px;
    }
}
.product__link {
    display: block;

    text-decoration: none;
    flex-basis: calc((100% - 32px) / 3);

    &:hover .product__svg {
        transform: scaleX(1.2);
    }
    &:focus .product__svg {
        transform: scale(1.2);
    }

    @media screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: 164px;
        }
    }
}
.product__item {
    position: relative;
    background-color: $white-color;
    border-radius: 24px;
    padding: 20px 40px;

    &--green {
        background-color: $green-bg;
    }
    &--yellow {
        background-color: $yellow-bg;
    }
    &--orange {
        background-color: $orange-bg;
    }

    @media screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: 164px;
        }
    }

    @media screen and(min-width:768px) {
        flex-basis: calc((100% - 32px) / 3);

        padding: 20px 26px;
    }
    @media screen and(min-width:1200px) {
        flex-basis: calc((100% - 64px) / 3);

        padding: 20px 63px;
    }
}
.product__img {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: block;
    margin: 0 auto;

    border-bottom: 11px solid;
    border-radius: 50%;

    &--green {
        border-bottom-color: $green-bg;
        box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
    }
    &--yellow {
        border-bottom-color: $yellow-bg;
        box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
    }
    &--orange {
        border-bottom-color: $orange-bg;
        box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
    }
}
.product__title {
    font-family: $main-font;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    padding-top: 123px;
    margin-bottom: 40px;

    color: $secondary-color;
}
.product__text {
    font-family: $main-font;
    font-size: 14px;
    line-height: 1.76;

    text-align: center;
    letter-spacing: 0.04em;

    margin-bottom: 90px;

    color: $secondary-color;

    &--indent-gr {
        @media screen and (min-width: 768px) {
            margin-bottom: 116px;
        }
        @media screen and(min-width:1200px) {
            margin-bottom: 138px;
        }
    }
    &--indent-yellow {
        @media screen and (min-width: 768px) {
            margin-bottom: 67px;
        }
        @media screen and (min-width: 1200px) {
            margin-bottom: 112px;
        }
    }
    &--indent-orange {
        @media screen and (min-width: 1200px) {
            margin-bottom: 112px;
        }
    }
}
.product__button {
    display: block;
    margin: 0 auto;

    background-color: transparent;
    border: none;

    cursor: pointer;
}
.product__svg {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
